.bg-container {
  background-color: #d9d9d9;
}
.bg-frame {
  background-color: #b3bcbc;
}
.bg-content {
  background-color: #aab2b4;
}

.same-height {
  display: flex;
  width: 100%;
}

.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.rounded-10{
  border-radius: 10px;
}
.rounded-25{
  border-radius: 25px;
}
.rounded-50{
  border-radius: 50px;
}


#Content {
  display: flex;
  flex-direction: row;
}

#SecondaryContent {
  width: 200px;
}

#PrimaryContent {
  width: calc(100% - 200px);
}

#search-field {
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 65%;
  height: 40px;
  border-radius: 12px;
  background-color: #d9d9d9;
}
#search-field input {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  border: 0;
  background-color: #d9d9d9;
}

#search-field input:focus {
  outline: none;
  background-color: #ffffff;
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #c9cfcf;
}

aside {
  background-color: #b3bcbc;
  width: 300px;
  flex-shrink: 0;

  min-height: calc(100vh - 80px);
}

main {
  background-color: #a8b2b2;
  overflow-y: auto;
  width: 100%;
}

.dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #00000059;
}
.dark:hover {
  cursor:pointer;
}

.aboveDark {
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: row;

  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
}

.aboveDark textarea{
  resize: none;
  width: 100%;
  min-height: 200px;
}

.dropdown-menu {
  display: inline-block;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
  min-width: 160px;
  z-index: 1;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 5px 10px;
  clear: both;
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
  background: none;
  border: 0;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}

