.bg-container {
  background-color: #d9d9d9;
}
.bg-frame {
  background-color: #b3bcbc;
}
.bg-content {
  background-color: #aab2b4;
}

.same-height {
  display: flex;
  width: 100%;
}

.flex{
  display: flex;
}
.row{
  flex-direction: row;
}
.column{
  flex-direction: column;
}
.rounded-10{
  border-radius: 10px;
}
.rounded-25{
  border-radius: 25px;
}
.rounded-50{
  border-radius: 50px;
}

.removeKey{
position: absolute;
top: 4px;
right: 5px;
}


#Content {
  display: flex;
  flex-direction: row;
}

#SecondaryContent {
  width: 200px;
}

#PrimaryContent {
  width: calc(100% - 200px);
}

.site-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #c9cfcf;
}

aside {
  background-color: #b3bcbc;
  width: 300px;
  flex-shrink: 0;

  min-height: calc(100vh - 80px);
}

main {
  background-color: #a8b2b2;
  overflow-y: auto;
  width: 100%;
}

.dark {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: #00000059;
}
.dark:hover {
  cursor:pointer;
}

.aboveDark {
  padding:  1em;
  z-index: 2;

 position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow-y: auto;
  overflow-x: hidden;
}

.aboveDark textarea{
  resize: none;
  width: 100%;
  min-height: 200px;
}

